header {
    background: url("../../assets/cover.jpg")center no-repeat;
    background-size: cover;
    width: 100%;
    text-align: left;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 25px 0px;
    margin-top: 0px;
  }
  header .row{
    margin: 30px 0px;
  }
header h2{
    color:#ce4319;
    font-size: 55px;
    line-height: 60px;
    font-family: 'Tajawal',sans-serif;
    font-weight: bold;
    width:80%;
}
header p{
    color:#333;
    font-family: 'Tajawal',sans-serif;
    margin: 15px 0px;
}
 header button{
    width:150px;
    height: 50px;
    background-color: #ce4319;
    text-align: center;
    color:#fff;
    border:1px solid #ce4319;
    box-sizing: border-box;
    margin:20px 10px 10px 0;
    font-weight: bold;
 }
header button:last-of-type{
    background-color: #fff;
    color: black;
 }
 header button:hover{
  transition: .2s ease-in-out;
  cursor:pointer;
 }

 header button:first-of-type:hover{
    background-color: white;
    color: #ce4319 !important;
 }
 header button:last-of-type:hover{
    background-color: #ce4319;
    color:white;
 }